.App-header {
    background-color: #222;
    height: 95px;
    padding: 20px;
    margin-bottom: 33px;
}

.BusinessCardApp {
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 4px 20px 2px #777777;
    padding: 10px;
    margin-top: 20px;
}
