.ButtonDiv {
    padding: 2px;
    -webkit-tap-highlight-color: transparent;
}

.ButtonA {
    background-color: #108ee9;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    transition: all 2ms;
    display: block;
}

.ButtonB {
    border: 1px #4b4b49 solid;
    /*background-color: #4b4b49;*/
    padding: 8px 12px;
    /*color: #fff;*/
    border-radius: 100px;
    font-size: 20px;
    transition: all 2ms;
    display: block;
}

.ButtonSpan {

}

.ButtonTag {
    border: 1px rgba(75, 75, 73, 0.67) solid;
    padding: 0 8px;
    border-radius: 100px;
    font-size: 10px;
    display: block;
}

.RedButtonTag {
    border: 1px #940000 solid;
    padding: 0 8px;
    border-radius: 100px;
    font-size: 10px;
    display: block;
}