.floatingApp {
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #bfbfbf;
    border: 9px #4b4b49 solid;
    transition: bottom .5s;
}

.phone {
    width: 100%;
    height: 100%;
}

.floatingAppClick {
    border-radius: 50%;
    position: fixed;
    bottom: -100px;
    right: 20px;
    background-color: #bfbfbf;
    border: 9px #4b4b49 solid;
    transition: bottom .5s;
}