.floatingApp {
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: rgba(135, 135, 142, 0.6);
    border: 9px #4b4b49 solid;
    transition: bottom .5s;
}

.phone {
    width: 100%;
    height: 100%;
}

.floatingAppClick {
    border-radius: 50%;
    position: fixed;
    bottom: -100px;
    right: 20px;
    background-color: rgba(135, 135, 142, 0.6);
    border: 9px #4b4b49 solid;
    transition: bottom .5s;
}

/*弹窗设置*/
.popupApp {

}

.empty {
    width: 45px;
    height: 45px;
    float: left;
}

.title {
    width: 160px;
    height: 45px;
    text-align: center;
    float: left;
}

.popupClose {
    width: 45px;
    height: 45px;
    float: left;
}

h4 {
    margin-top: 12px;
}

.iconClose {
    width: 100%;
    height: 100%;
}

.forkContext {
    text-align: center;
    margin: 0 10px;
}

.phoneNum {
    margin-top: 0px;
}

.popupButton {
    margin-bottom: 10px;
}